{% include 'html-header.twig' %} {% include "header.twig" %}
<div class="row no-gutters">
    <div class="col-12">
        {% include "slider.twig" %}
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-10 ml-auto mr-auto">
            <div class="row">
                <div class="col-12">
                    <section id="chi">
                        <h1>Chi siamo</h1>
                        <p>La nostra formazione come falconieri inizia nel 2012, dove abbiamo iniziato a dedicarci a questa
                            nobile arte come volontari, affiancandoci a centri di falconeria italiani e professionisti nel
                            settore. La nostra crescita come falconieri, ma anche e soprattutto come persone, non si ferma
                            mai e ci impegniamo per essere sempre aggiornati e preparati sotto tutti i punti di vista.</p>
                        <p>
                            La nascita di questo progetto è dovuta alla consapevolezza dell’importanza della falconeria e dell’alone di mistero che circonda
                            questi animali;
                            <b>vogliamo dare la possibilità di entrare in contatto con questo mondo incredibile</b>, imparando
                            anche stando comodamente seduti. La sensibilizzazione verso i rapaci è un obiettivo a noi molto
                            caro, infatti ci impegniamo frequentemente in eventi e didattiche con la speranza che anche le
                            nuove generazioni si appassionino alla natura.</p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>I rapaci</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatem provident exercitationem! Nam repellat corrupti
                    omnis fuga! Ea labore praesentium debitis deleniti dolor libero, consequatur, esse odio exercitationem
                    quam quos?
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 mr-auto ml-auto">
                    {% include "rapaci-slider.twig" %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    Quando è ora di chiusura i nostri rapaci tornano a casa con noi, nessun animale sta nel bar da solo, soprattutto nell’orario
                    di chiusura.

                    <div class="question">
                        Ci teniamo a specificare che i nostri animali sono tutti nati in cattività in allevamenti professionali; in nessun caso sono
                        stati prelevati dall’ambiente selvatico e non incoraggiamo in nessun modo la cattura o la detenzione
                        di animali selvatici. Vi ricordiamo, inoltre, che se vi trovaste nella condizione di dover soccorre
                        un animale selvatico in pericolo, la prima cosa da fare è consegnarlo ad il centro di recupero più
                        vicino: per quanto buone siano le vostre intenzioni, detenere un animale selvatico è severamente
                        vietato dalla legge.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section id="cosa">
                        <h1>Cosa facciamo</h1>
                        Bacon ipsum dolor amet sausage meatball pig, ribeye pancetta hamburger alcatra capicola picanha. Jowl leberkas pork shoulder
                        landjaeger.
                        <a href="./assets/menu-owl-cafe.pdf" download>
                            {% include "plate.twig" %}
                        </a>
                    </section>
                </div>
            </div>
            <div class="row social-row">
                <div class="col-12 col-md-12">
                    <section id="dove">
                        <h1>Dove trovarci</h1>
                        Siamo in
                        <b>Via Carvasaglio 19, 25036</b> a
                        <b>Palazzolo sull'Oglio</b>.
                        <div class="social-container">
                            <div class="social-item">
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                <span>Cafe</span>
                            </div>

                            <div class="social-item">
                                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                <span>Photos</span>
                            </div>

                            <div class="social-item">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                <span>Mail</span>
                            </div>
                            <div class="social-item">
                                <i class="fa fa-2x">{% include "owl-icon.twig" %}</i>
                                <span>Phone</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ml-auto mr-auto">
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="map-container">
                        <div id="map" class="map"></div>
                    </div>
                </div>
            </div>
            <div class="row inverse">
                <div class="col-12">
                    <footer>
                        PIVA 1234567891011121314 - Owl Café - Via Carvasaglio 19, 25036, Palazzolo sull'Oglio
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'html-footer.twig' %}