<header id="header">
    <nav class="navbar navbar-toggleable">
        <div class="navbar-brand">
            <a href="/">
                {% include "logo.twig" %}
            </a>
        </div>
        <nav class="navbar navbar-toggleable ml-auto navbar-links">
            <a class="nav-item nav-link" href="#chi">Chi</a>
            <a class="nav-item nav-link" href="#cosa">Cosa</a>
            <a class="nav-item nav-link" href="#dove">Dove</a>
        </nav>
    </nav>
</header>