<div class="inline-slider" id="rapaci-slider">
    <div class="controls previous">
        <i class="fa fa-2x fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="controls next">
        <i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="slide-container">
        <div class="slide">
            <div class="image">
                <img src="./assets/Gea.png" alt="" class="img-fluid">
            </div>
            <div class="label">
                <span>Gea</span>
            </div>
            <div class="info">
                Gufo Reale
            </div>
        </div>
        <div class="slide">
            <div class="image">
                <img src="./assets/Hope.png" alt="" class="img-fluid">
            </div>
            <div class="label">
                <span>Hope</span>
            </div>
            <div class="info">
                Gufo Bengalese
            </div>
        </div>
        <div class="slide">
            <div class="image">
                <img src="./assets/Red.png" alt="" class="img-fluid">
            </div>
            <div class="label">
                <span>Red</span>
            </div>
            <div class="info">
                Barbagianni
            </div>
        </div>
        <div class="slide">
            <div class="image">
                <img src="./assets/Sdentato.png" alt="" class="img-fluid">
            </div>
            <div class="label">
                <span>Sdentato</span>
            </div>
            <div class="info">
                Barbagianni
            </div>
        </div>
        <div class="slide">
            <div class="image">
                <img src="./assets/Sir Choco Nesquik.png" alt="" class="img-fluid">
            </div>
            <div class="label">
                <span>Sir Choco Nesquik</span>
            </div>
            <div class="info">
                Allocco Bruno
            </div>
        </div>
        <div class="slide">
            <div class="image">
                <img src="./assets/Will.png" alt="" class="img-fluid">
            </div>
            <div class="label">
                <span>Will</span>
            </div>
            <div class="info">
                Allocco Zampe Rosse
            </div>
        </div>
    </div>
</div>